@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@1,300;1,400&display=swap');


/* Contenido referente a asignación de CSS, primeramente tenemos una selección total
donde ajuste margenes, el color de fondo de la pagina, el tamaño de las letras, entre otros*/


*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-size: 18px
}

body{
    font-family: 'Lato', sans-serif;
    background-color: black;
}

/* Aquí empece a establecer el CSS del Header, configure el color de fondo que tendría, su display como flex, alinee los objetos de forma centrada, les establecí un margen de separación
y modifique el tamaño que tendría el header, asi como algunos detalles mas como: logo, fuente, animaciones, entre otros  */

.header{
    background-color: #00008B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    height: 80px;
}


.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.logo {
    height: 80px;
    width: auto;
    transition: all 0.2s;
}

.logo:hover{
    transform: scale(1.2);
}

.header .Red-Nav{
    font-family: 'Lato', sans-serif;
    list-style: none;
}

.header .Red-Nav li{
    display: inline-block;
    margin: 0 18px;
    transition: all 0.2s;
}

.header .Red-Nav a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.header .Red-Nav li a:hover {
    color: red;
}

.header .Red-Nav li:hover{
    transform: scale(1.2);
}


/* Estilos de banner*/

.banner {
	height: 900px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/banner-somos-2.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
}

.banner-content {
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.banner-content h1 {
	font-size: 7rem;
    margin-bottom: 20px;
}

.banner p {
	font-size: 1.4rem;
	line-height: 1.5;
    max-width: 1900px;
}

/* Estilos de la sección "Acerca de" */

.historia {
	background-color: #00008B;
	padding: 50px;
	display: flex;
	align-items: center;
}

.historia-content {
	flex: 1;
	text-align: left;
	color: #fff;
}

.historia img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Para hacer que la imagen llene completamente el contenedor */
    border-radius: 20%;
    float: right;
    overflow: hidden;
}

.historia h2 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.historia p{
    font-size: 1.2rem;
	line-height: 1.5;
    max-width: 800px;

}



/* Estilos de la sección de servicios */

/*Definir una animación para bordes de las boxes*/
@keyframes rainbow {
    0% {
      box-shadow: 0 0 10px red;
    }
    17% {
      box-shadow: 0 0 10px orange;
    }
    34% {
      box-shadow: 0 0 10px yellow;
    }
    51% {
      box-shadow: 0 0 10px green;
    }
    68% {
      box-shadow: 0 0 10px blue;
    }
    85% {
      box-shadow: 0 0 10px indigo;
    }
    100% {
      box-shadow: 0 0 10px violet;
    }
}

.services {
	padding: 50px;
	display: flex;
	justify-content: space-between;
    flex-direction: row;
	background-color: #fff;
}

.service {
	width: 18%;
	text-align: center;
    justify-content: space-between;
	border-radius: 5px;
	padding: 20px;
    animation: rainbow 3s infinite;
    box-shadow: 0 0 10px red;
	margin-bottom: 20px;
    transition: all 1s;
    cursor: pointer;
}

.services h2{
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 50px;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;

}

.service i {
	font-size: 3rem;
	margin-bottom: 20px;
	color: darkblue;
}

.service h3 {
	font-size: 2rem;
	margin-bottom: 10px;
	color: #333;
}

.service p {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #666;
}

.service:hover{
    transform: scale(1.1);
}


/* Llamado a la acción*/

.cta {
    background-image: linear-gradient(#000000, #00000080), url("/img/algunaduda.webp");
    color: #fff;
    text-align: center;
    padding: 150px;
}
  
.cta h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
  
.cta a.btn-cta {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.cta a.btn-cta:hover {
    background-color: darkblue;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Footer de la Pagina*/

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding-top: 40px;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
    
}

.contenido-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contenido-footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.contenido-footer p{
    max-width: auto;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff
}

.sociales{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sociales li{
    margin:  0 10px;
}

.sociales li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: all 1.2s;
}

.sociales li a:hover{
    transform: scale(1.2);
    color: red;
}

