<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos de la Tienda</title>
    <link rel="shortcut icon" href="/assets/img/REPAIRCATS.png" />
    <link rel="stylesheet" type="text/css" href="/css/galeriaproductos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>
<body>

    <!-- Esta parte es la cabecera/header -->
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="#"><img src="/assets/img/REPAIRCATS.png" alt="DevBabu.com"></a>
            </div>
            <div class="navbar">
                <div class="close-nav"><button>×</button></div>
                <nav>
                    <ul>
                        <li><a href="http://localhost:3000/api/inicio">Inicio</a></li>
                        <li><a href="http://localhost:3000/api/galeria">Productos</a></li>
                        <li><a href="http://localhost:3000/api/somos">¿Quienes Somos?</a><a/li>
                        <li><a href="http://localhost:3000/api/contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="menu-bar">
                <button><i></i></button>
            </div>
        </div>
    </header>
    <script>
        const theBody = document.querySelector('body');
        const openNav = document.querySelector('.menu-bar button');
        const closeNav = document.querySelector('.close-nav button');
        const Navbar = document.querySelector('.navbar');

        // function bodyScroll(){
        //     if(Navbar.classList.contains('show')){
        //         theBody.classList.add('hide-scroll');
        //     }
        //     else if(theBody.classList.contains('hide-scroll')){
        //         theBody.classList.remove('hide-scroll');
        //     }
        // }

        function showHide(){
            Navbar.classList.toggle('show');
            // bodyScroll();
        }

        openNav.onclick = showHide;
        closeNav.onclick = showHide;
    </script>

    
        <!-- Crear el contenedor del slider -->

    <section class="container top-categories">
        <h1 class="heading-1">Categorías Principales</h1>
        <!-- Crear el contenedor del slider -->
        <div class="swiper-container">
          <!-- Crear la envoltura de los elementos del slider -->
          <div class="swiper-wrapper">
            <!-- Añadir los elementos del slider -->
            <div class="swiper-slide card-category category-laptops">
              <p>Laptops</p>
              <span>Ver mas</span>
            </div>
            <div class="swiper-slide card-category category-computadores">
              <p>Computadores</p>
              <span>Ver mas</span>
            </div>
            <div class="swiper-slide card-category category-audifonos">
              <p>Auriculares</p>
              <span>Ver mas</span>
            </div>
            <div class="swiper-slide card-category category-gpu">
              <p>Tarjetas Gráficas</p>
              <span>Ver mas</span>
            </div>
            <div class="swiper-slide card-category category-teclados">
              <p>Teclados</p>
              <span>Ver mas</span>
            </div>
            <div class="swiper-slide card-category category-ratones">
              <p>Mouses</p>
              <span>Ver mas</span>
            </div>
          </div>
          <!-- Añadir la paginación -->
          <div class="swiper-pagination"></div>
        </div>
      
        <section class="container top-products" ></section>
      
      </section>
      
      <!-- Añadir el JS de Swiper -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      
      <!-- Inicializar el slider -->
      <script>
        var swiper = new Swiper('.swiper-container', {
          // Opciones del slider
          loop: true, // Repetir el slider
          autoplay: true, // Reproducir automáticamente
          pagination: {
            el: '.swiper-pagination', // Elemento de paginación
            clickable: true, // Hacer clic en los puntos para cambiar de slide
          },
        });
      </script>

    <!-- Productos en Venta -->
    <main>
        <h1 class="heading-1">Productos en Venta</h1>
        <div class="tarjetas">
            <div class="tarjeta">
                <img src="/assets/img/producto1.webp" alt="Producto 1">
                <h3>Acer Portátil Aspire 5 A515-56-347N Slim</h3>
                <p>$379.99</p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
            <div class="tarjeta">
                <img src="/assets/img/producto2.jpg" alt="Producto 2">
                <h3>MSI Laptop para juegos, delgada GF63</h3>
                <p>$1,160.00</p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
            <div class="tarjeta">
                <img src="/assets/img/producto3.jpg" alt="Producto 3">
                <h3>ASUS TUF Gaming F15 Laptop</h3>
                <p>$699.99</p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
            <div class="tarjeta">
                <img src="/assets/img/producto4.jpg" alt="Producto 4">
                <h3>ASUS ROG Strix Scope RX EVA Edition</h3>
                <p>$279.00 </p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
            <div class="tarjeta">
                <img src="/assets/img/producto5.jpg" alt="Producto 5">
                <h3>Logitech G 502 Hero K/DA</h3>
                <p>$62.50 </p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
            <div class="tarjeta">
                <img src="/assets/img/producto6.jpg" alt="Producto 6">
                <h3>EVGA GeForce RTX 3090 FTW3 Ultra Gaming</h3>
                <p>$1,659.00</p>
                <a href="#" class="btn">Ver mas detalles</a>
            </div>
        </div>
    </main>

    <!-- Tabla creada para mostrar los mejores GPU actuales-->
    <section class="tabla-gpu">
        <h1 class="heading-1">Tabla de Mejores GPU's</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody id="Datostabla">
            </tbody>
        </table>
        <p id="Datos" class="invisible"> <%= JSON %> </p>

        <script>

          let res = document.getElementById("Datostabla")
          let Datosjson = JSON.parse(document.getElementById("Datos").innerText)

          res.innerHTML = ""
          for(let item of Datosjson){

            res.innerHTML += `
        
              <tr>
                <td> ${item.nombreprod} </td>
                <td> ${item.descripción} </td>
                <td> ${item.costo} </td>
                <td> <img src="${item.imagen}" alt="${item.nombreprod}" width="200"> </td>
              </tr>
            `
          }
        </script>
    </section>
    
    <!-- Esta parte es el footer de la pagina -->
    <footer>
        <div class="contenido-footer">
            <h3>Repair Cats</h3>
            <p>Tienda online reconocida internacionalmente</p>
        </div>
        <!-- Iconos de Redes Sociales -->
        <ul class="sociales">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="https://www.instagram.com/crimshosho/" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="https://www.youtube.com/channel/UCAhV1JKN_SPmoVkFBlDuoRw" class="fa fa-youtube"></a></li>
        </ul>
    </footer>
</body>
</html>
