@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@1,300;1,400&display=swap');


/* Contenido referente a asignación de CSS, primeramente tenemos una selección total
donde ajuste margenes, el color de fondo de la pagina, el tamaño de las letras, entre otros*/


*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-size: 18px
}

body{
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Aquí empece a establecer el CSS del Header, configure el color de fondo que tendría, su display como flex, alinee los objetos de forma centrada, les establecí un margen de separación
y modifique el tamaño que tendría el header, asi como algunos detalles mas como: logo, fuente, animaciones, entre otros  */

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

header {
    background-color: #00008B;
    box-shadow: 0 10px 15px -3px 
rgba(0, 0, 0, 0.1),
        0 4px 6px -4px 
rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 50px;
    display: block;
}

header .logo {

    width: auto;
    transition: all 0.2s;
}

header .logo:hover{
    transform: scale(1.2);
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: 
#00008B;
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    transition: all 0.2s;
}
.navbar ul a:hover {
    color: red;
}

.navbar ul li{
    transition: all 0.2s;
}

.navbar ul li:hover{
    transform: scale(1.2);
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: 
#f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid 
rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: 
#444444;
}
.close-nav button:hover {
    color: 
#222222;
    background: 
white;
}

.menu-bar button {
    border: 1px solid 
rgba(0, 0, 0, 0.1);
    background: 
#f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid 
#444444;
    border-bottom: 3px solid 
#444444;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid 
#444444;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: 
white;
}
.menu-bar button:hover i {
    border-color: 
#222222;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}



/* Contáctanos*/

.banner {
    height: 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, red, darkblue);
    background-size: 200% 200%;
    animation: gradient 3s ease-in-out infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.banner-content {
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.banner-content h1 {
	font-size: 5rem;
    margin-bottom: 10px;
}


.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/img/contactanos.webp");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
    
    @media (max-width: 768px) {
        .container-form {
          flex-direction: column;
          padding: 60px 40px;
          background-image: url("/assets/img/contacto-vertical.jpg");
        }
      }

  
.form-box, .company-box {
    width: 45%;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px;
}

  
.form-box {
    width: 50%;
}

  
.form-box h2, .company-box h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
  
.form-box label {
    font-weight: bold;
}
  
.form-box input, .form-box textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
  
.form-box button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.form-box button[type="submit"]:hover {
    background-color: darkblue;
    color: white;
}

.company-box p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.company-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.company-box li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
  
.company-box i {
    margin-right: 10px;
    color: #333;
    font-size: 1.2rem;
}

/*Mensaje al enviar*/

#Emergente {
    color: blue;
    text-align: center;
    padding-top: 5px;
    font-size: 1.2rem;
}

/* Footer de la Pagina*/

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding-top: 40px;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
    
}

.contenido-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contenido-footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.contenido-footer p{
    max-width: auto;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff
}

.sociales{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.sociales li{
    margin:  0 20px;
}

.sociales li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: all 1.2s;
}

.sociales li a:hover{
    transform: scale(1.2);
    color: red;
}

/* Esto reduce el tamaño del texto y el espacio entre los elementos cuando la pantalla es menor de 768px */ @media (max-width: 768px) { .contenido-footer h3 { font-size: 1.8rem; line-height: 2.5rem; }

.contenido-footer p { font-size: 12px; line-height: 24px; }

.sociales li { margin: 0 10px; } }

/* Esto reduce el tamaño del texto y el espacio entre los elementos cuando la pantalla es menor de 480px */ @media (max-width: 480px) { .contenido-footer h3 { font-size: 1.5rem; line-height: 2rem; }

.contenido-footer p { font-size: 10px; line-height: 20px; }

.sociales li { margin: 0 5px; } }



/* Media queries for responsive design */

@media (max-width: 768px) {
  /* Styles for the contact form */
  .form-box,
  .company-box {
    width: 90%;
  }

  .form-box h2,
  .company-box h2 {
    font-size: 1.2rem;
  }

  .form-box input,
  .form-box textarea {
    font-size: 1rem;
  }

  .form-box button[type="submit"] {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .company-box p,
  .company-box li {
    font-size: 1rem;
  }

  .company-box i {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  /* Styles for the banner */
  .banner {
    height: 150px;
  }

  .banner-content h1 {
    font-size: 2.5rem;
  }

  /* Styles for the contact form */
  .container-form {
    height: auto;
    padding-top: 80px;
  }

  .form-box,
  .company-box {
    width: 95%;
  }

  .form-box h2,
  .company-box h2 {
    font-size: 1rem;
  }

  .form-box input,
  .form-box textarea {
    font-size: 0.9rem;
  }

  .form-box button[type="submit"] {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .company-box p,
  .company-box li {
    font-size: 0.9rem;
  }

  .company-box i {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
    
}