@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@1,300;1,400&display=swap');


/* Contenido referente a asignación de CSS, primeramente tenemos una selección total
donde ajuste margenes, el color de fondo de la pagina, el tamaño de las letras, entre otros*/


*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-size: 18px
}

body{
    background-color: black;
}

/* Aquí empece a establecer el CSS del Header, configure el color de fondo que tendría, su display como flex, alinee los objetos de forma centrada, les establecí un margen de separación
y modifique el tamaño que tendría el header, asi como algunos detalles mas como: logo, fuente, animaciones, entre otros  */

.header{
    background-color: #00008B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    height: 80px;
}


.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.logo {
    height: 80px;
    width: auto;
    transition: all 0.2s;
}

.logo:hover{
    transform: scale(1.2);
}

.header .Red-Nav{
    font-family: 'Lato', sans-serif;
    list-style: none;
}

.header .Red-Nav li{
    display: inline-block;
    margin: 0 18px;
    transition: all 0.2s;
}

.header .Red-Nav a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.header .Red-Nav li a:hover {
    color: red;
}

.header .Red-Nav li:hover{
    transform: scale(1.2);
}

/* Banner de Encabezado*/

.banner-inicio{
    background-image: linear-gradient(100deg, #000000, #00000020),  url('/assets/img/banner1.jpg');
    height: 45rem;
    background-size: cover;
    background-position: center;
}

.contenido-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
  }

.contenido-banner h1{
    color: #fff;
    font-size:  5rem;
    font-weight: 500;
    line-height: 1.6;
}

.contenido-banner h2{
    color: #fff;
    font-size:  2rem;
    font-weight: 500;
    line-height: 5;
    
}
.invisible{
    display: none;
}

/* Sección de Equipos Recientes*/

.principal-recientes {
    padding: 50px;
    font-family: 'Lato', sans-serif;
}

.principal-recientes h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 50px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
  
.computadoras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.computadora {
    width: calc(33.33% - 20px);
    padding: 20px;
    background-color: darkblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.computadora img {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: auto;
    margin-bottom: 20px;
}
  
.computadora h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}
  
.computadora p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}
  
.computadora a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
  
.computadora a:hover {
    background-color: #555;
}


/* Video-Reseñas */

.user-videos {
    padding: 50px;
    font-family: 'Lato', sans-serif;
}

.user-videos h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 50px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-videos h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

/*Ubicación y Horarios*/

/* Estilos generales */
.container {
    display: flex;
    flex-direction:inherit;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
  
/* Estilos para la sección de ubicación */
.ubicacion {
    flex: auto;
    background-image: linear-gradient(#000000, #00000020), url(/assets/img/fondoubicacion.jpg);
    background-size: cover;
    color: #ffffff;
    padding: 50px;
    text-align: center;
}
  
.ubicacion h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
  
.ubicacion p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.ubimedia {
    width: 800px;
    height: 600px;
  }
  
/* Estilos para la sección de horarios */
.horarios {
    
    flex: 1;
    background-image: url("/assets/img/horariosbackground.png");
    color: #ffffff;
    padding: 50px;
    text-align: center;
}
  
.horarios h2     {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
  
.horarios ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.horarios li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 3;
}


/* Footer de la Pagina*/

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding-top: 40px;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
    
}

.contenido-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contenido-footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.contenido-footer p{
    max-width: auto;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff
}

.sociales{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.sociales li{
    margin:  0 20px;
}

.sociales li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: all 1.2s;
}

.sociales li a:hover{
    transform: scale(1.2);
    color: red;
}

